.dash-container{
    height: 100vh;
    background-color: rgb(175, 164, 164);
    overflow-y: hidden;
}

.paper{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 96px);
    border-radius: 25px;
    margin-left: 33px;
    margin-top: 15px;
    height: calc(100% - 130px);
    overflow: hidden;
}

.stock-indication{
    /* padding: 10px; */
}

.submit-btn{
    display: flex;
    width: 100%;
    justify-content: center;
}

.status-form{
    height: fit-content;
    padding: 10px;
    border: 2px solid black;
    /* margin: 10px; */
    border-radius: 20px;
}

.completed-order{
    /* padding: 10px; */
    cursor: pointer;
}