.home-container{
    height: 100vh;
    background-color: rgb(175, 164, 164);
    overflow-y: hidden;
}

.paper{
    background-color: rgb(255, 255, 255);
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    /* width: calc(100% - 70px); */
    border-radius: 25px;
    margin-left: 33px;
    margin-top: 15px;
    height: calc(100% - 130px);
    /* overflow-y: scroll; */
    justify-content: space-between;

}

.navigation-control{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    height: fit-content;
    width: fit-content;
    justify-content: space-between;
    
}

.home-txt-btn{
    display: grid;
    gap: 20px;
    width: fit-content;
    margin: 30px;
}

.txt-btn{
    width: 100%;
}

.navigation-control img{
    width: 300px;
    cursor: pointer;
    /* margin-bottom: 20px; */
    
}

.center-nav{
    display: flex;
    width: 100%;
}





